<div class="container-fluid valign">

    <div class="container-fluid valign">

        <div class="main-content container-fluid middle">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="panel panel-transparent">

                        <div class="logo text-center">
                            <h1> 
                                <i class="material-icons">done_all</i> Recad
                            </h1>
                        </div>

                        <div class="content">
                            <form id="form" action="/">
                                <div class="input-group input-search">
                                    <span role="status" class="ui-helper-hidden-accessible"></span>
                                    <input id="busca" type="text" placeholder="Digite o número do protocolo" class="form-control ui-autocomplete-input" autocomplete="off" required="required">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="material-icons middle social-icon">search</i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="content error-message">
                            <span class="error-message-text">
                                {{ error }}
                            </span>
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>