            <div class="be-content content-fluid page-maps">

                <a href="javascript:void(0);" title="Cadastrar" class="btn-add btn btn-primary"><i class="material-icons middle">person_add</i></a>

                <aside class="page-aside" style="display:none;">
                    <div class="be-scroller nano">
                        <div class="nano-content">
                            <div class="content">
                                <div class="dados">

                                    <div class="avatar pull-left avatar-form">
                                        <img src="./img/aang2.jpg" alt="foto" class="img-circle" />
                                    </div>

                                    <a href="javascript:void(0);" title="Fechar" class="btn btn-primary btn-close pull-right"><i class="material-icons middle">close</i></a>
                                    <h1>Alberto Carvalho</h1>
                                    <hr class="clear-both" />
                                    <p><strong><i class="material-icons middle">mail_outline</i> alberto_carvalho@gmail.com</strong></p>
                                    <p><strong><i class="material-icons middle">phone</i> (81) 9999.9999</strong></p>
                                    <p><strong><i class="material-icons middle">home</i></strong> The icons are available under the Apache License Version 2.0. We'd love attribution in your app's "about" screen, but it's not required.</p>
                                </div>

                                <div class="results" style="display: none;">
                                    <h3>Resultados da busca</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Alberto Carvalho</a></li>
                                        <li class="list-group-item"><a href="edit.html" title="Alberto Carvalho">Carvalho Carvalho Alberto Carvalho</a></li>
                                    </ul>
                                </div>

                                <div class="cadastro" style="display: none;">
                                    {% include 'theme/novo_cadastro.twig' %}
                                </div>

                            </div>
                        </div>
                    </div>
                </aside>


            </div>
        </div>